body {
  margin: 0px;
}

canvas {
  background-color: lightblue;
  margin: 20px;
}

img {
  display: none;
}
Scroll {
  background-image: url("https://m.media-amazon.com/images/I/61p8JZ9g4tL._UF1000,1000_QL80_.jpg");
}